{% extends "base.html"%}
{%block content%}
<div class="row">
    <div class="col s12 m4 l3">

        <ul class="collection">
            
             <li class="collection-item avatar red darken-1">
             <img src="https://scontent.fbom2-1.fna.fbcdn.net/v/t1.0-1/p160x160/44250_10151096687507919_1754787046_n.jpg?oh=2850aae2f045740eb2f1ab79a30908a4&oe=596D7E09" alt="" class="circle">
             <a href="#" class="white-text"><b>Sarfaraz Ahmed</b></a>

             </li>

            <a href="{%url 'user_management:account_info'%}"><li class="collection-item">Profile</li></a>
            <a href="{%url 'user_management:address'%}"><li class="collection-item">Address</li></a>
            <a href="#"><li class="collection-item">Orders</li> </a>
            <a href="#"><li class="collection-item">Purchase History</li></a>
            <a href="{%url 'user_management:change_password'%}"><li class="collection-item active">Change Password</li></a>
        </ul>
    </div>

    <div class="col s12 m8 l9">
        <div class="row">
            <h5>Change Password</h5>
        </div>
        <div class="divider"></div>
            <div class="row">
                <form action="/change_password/" method="POST" class="col s12 m6 l4" >{% csrf_token %}
                    <div class="row">
                        <div class="input-field col s12">
                            <input id="id_old_password" name="id_old_password" type="password">
                            <label for="id_old_password">Old password</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            <input  id="new_password1" name="new_password1" type="password">
                            <label for="new_password1">New Password</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            <input  id="new_password2" name="new_password2" type="password">
                            <label for="new_password2">Confirm Password</label>
                        </div>
                    </div>
                    <p>{{form.new_password1.help_text|escape}}</p>
                    <button class="btn waves-effect waves-light" type="submit" name="action">Register</button>
                </form>
            </div>
    </div>
    
</div>
{%endblock%}

