<!doctype html>

<html lang="en">
<head>
    <title>arhamcollections</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/css/materialize.min.css">
</head>
  



<body>
    <div class="container">
    <nav>
    <div class="nav-wrapper">
      <a href="#" class="brand-logo">&nbsp;&nbsp;&nbspArham Collections</a>
    </div>
  </nav>
    <div>
   <p>Welcome to world of Arham Collecions,</p>
   <p>You are just step away from completing signup process. Click on Activate button.</p>
   </div>
   <div class="row">
   <div class="center-align"><a class="waves-effect waves-light btn-large href={{link}}">Activate</a></div>
   </div>
   <div class="row">
    <div class="divider"></div>
    <p>With Regards,</p>
    <p>Arham Collections</p>
    <div class="divider"></div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/js/materialize.min.js"></script>
    <script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
    </div>
</body>


</html>
