{% extends "base.html"%}

{%block content%}
<div class="row">
    <div class="col s12 m12 l12">
        <h5>Calls Us
        </h5>
        <div class="divider"></div>
        
    </div>
</div>   

<div class="row">
    <div class="col s12 m6 l6">
        <div class="card indigo darken-3 darken-1">
            <div class="card-content white-text">
            <span class="card-title"><strong>Contact Us</strong></span>
            <p>We are available between 10 AM - 7 PM. Kindly contactus between this time. Please call us at <strong>9320089916</strong></p>
            </div>
            <div class="card-action">
            <a href="#">Get Call Back</a>
            
            </div>
        </div>
    </div>
    <div class="col s12 m6 l6">
            <div class="card indigo darken-3 darken-1">
                <div class="card-content white-text">
                <span class="card-title"><Strong>Whatsapp</Strong></span>
                <p>Please add following number <strong>9320089916</strong> to your Whatsapp. We will surely address your query</p>
                </div>
                <div class="card-action">
                <a href="#">Get Call Back</a>
            </div>
        </div>
        </div>
    </div>
</div>

{%endblock%}