<footer class="page-footer indigo darken-3">
    
    <div class="row"> 
        <div class="col l12 m12 s12 center-align">
            <a href="#!">
            <i class="fa fa-facebook-official fa-3x fa-inverse" aria-hidden="true"></i>
            </a>
            <a href="#!">
            <i class="fa fa-instagram fa-3x fa-inverse" aria-hidden="true"></i>
            </a>
            <a href="#!">
            <i class="fa fa-whatsapp fa-3x fa-inverse" aria-hidden="true"></i>
            </a>
            <a href="#!">
            <i class="fa fa-twitter-square fa-3x fa-inverse" aria-hidden="true"></i>
            </a>
            <a href="#!">
            <i class="fa fa-pinterest-square fa-3x fa-inverse" aria-hidden="true"></i>
            </a>
            <a href="#!">
            <i class="fa fa-linkedin-square fa-3x fa-inverse" aria-hidden="true"></i>
            </a>
        </div>
    </div>
    <div class="row">
        <div class="col l3 m4 s8">
            <h6 class="white-text">COMPANY INFO</h6>
            <ul>
                <li><a class="grey-text text-lighten-3" href="{%url 'main_app:aboutus'%}">About Us</a></li>
                <li><a class="grey-text text-lighten-3" href="{%url 'main_app:career'%}">Career</a></li>
                <li><a class="grey-text text-lighten-3" href="{%url 'main_app:blog'%}">Blog</a></li>
            </ul>
        </div>
        <div class="col l3 m4 s8">
            <h6 class="white-text">POLICY</h6>
            <ul>
                <li><a class="grey-text text-lighten-3" href="{%url 'main_app:returnpolicy'%}">Return Policy</a></li>
                <li><a class="grey-text text-lighten-3" href="{%url 'main_app:faq'%}">Buyer's FAQ</a></li>
                <li><a class="grey-text text-lighten-3" href="{%url 'main_app:tc'%}">Terms and Condition</a></li>
            </ul>
        </div>
        <div class="col l3 m4 s8">
            <h6 class="white-text">CUSTOMER SERVICE</h6>
            <ul>
                <li><a class="grey-text text-lighten-3" href="{%url 'main_app:callus'%}">Call Us</a></li>
                <li><a class="grey-text text-lighten-3" href="{%url 'main_app:emailus'%}">Email Us</a></li>
            </ul>
        </div>
        <div class="col l3 m4 s8">
            <h6 class="white-text">WHY US</h6>
            <ul>
                <li><i class="fa fa-shopping-basket fa-1x fa-inverse" aria-hidden="true"></i>&nbsp;&nbsp<a class="grey-text text-lighten-3" href="#!">Handpicked products</a></li>
                <li><i class="fa fa-inr fa-1x fa-inverse" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp<a class="grey-text text-lighten-3" href="#!">Best Rates</a></li>
                <li><i class="fa fa-truck fa-1x fa-inverse" aria-hidden="true"></i>&nbsp;&nbsp<a class="grey-text text-lighten-3" href="#!">Quick Delivery</a></li>
            </ul>
        </div>
    </div>

    <div class="footer-copyright">
        <div class="row">
            <div class="col l12 m12 s12">
            <p>Copyright 2017 Arham Technologies Private Limited | All Rights Reserved |
            Produ & warranty by 3rd Party Vendors. Brands, Logos, Creatives,
            Trademarks, Copyrights are owned by their respective owners
            | arhamcollections.com disclaims liability for violation of any
            3rd party rights.</p>
            <a class="grey-text text-lighten-4 right" href="#!">Read More</a>
        </div>
    </div>


</footer>