{% extends "base.html" %}

{%block content%}
<div class="row">
    <div class="col s3 m3 l3">

    <div class="col s9 m9 l9">
    <p>Jenkin is working</p>

    <p>Jenkins seeems to work finally</p>
    <p></p>
    <p></p>
    <p></p>
    </div>
</div>
<div class="row">
    <div class="col s6">
        <p>this is test1</p>
        <p>this is test1</p>
        <p>this is test1</p>
        <p>this is test1</p>
    </div>
    <div class="col s6">
        <p>this is test</p>   
        <p>this is test</p>
        <p>this is test</p>
        <p>this is test</p>   
    </div>
    
</div>

{%endblock%}


